fastapi
uvicorn[standard] 
pyshark
asyncpg
psycopg2-binary
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
httpx
psycopg2
pdfplumber
python-docx
python-pptx
chromadb
sentence-transformers
langchain
python-multipart
google-generativeai
pydantic[email]
scapy
